<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication12"
        tools:targetApi="31">


        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/myimage"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/my_primary"/>

        <activity
            android:name=".update_profile"
            android:exported="false"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/Theme.MyApplication12" />
        <activity
            android:name=".submit_feedback"
            android:exported="false"
            android:theme="@style/Theme.MyApplication12" />
        <activity
            android:name=".chat_activity"
            android:exported="false" />
        <activity
            android:name=".view_profile"
            android:exported="false" />
        <activity
            android:name=".view_profile_action"
            android:exported="false" />
        <activity
            android:name=".ChatFragment"
            android:exported="true" />
        <activity
            android:name=".Feedback"
            android:exported="true" />
        <activity
            android:name=".main"
            android:exported="false" />
        <activity
            android:name=".SearchUser"
            android:exported="true"
            android:label="Search User">

            <!-- You can add intent filters or other attributes here if needed -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity> <!-- <activity -->
        <!-- android:name=".SearchUserAdapters" -->
        <!-- android:label="Search User Adapters" -->
        <!-- android:exported="true"> -->
        <!-- &lt;!&ndash; You can add intent filters or other attributes here if needed &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Firebase.chat"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>